In [1]:
import numpy as np
import pandas as pd

In [13]:
all_df = []

for i in range(28):
    df = pd.read_csv('../data/CRTS-I_CSS_Transients/input'+str(i+1), 
                     sep=' ', 
                     names=['CSS_ID','RA','DEC']
                    )
    all_df.append(df)

df_all = pd.concat(all_df)
df_all.shape

(5540, 3)

In [14]:
df_all

                  CSS_ID         RA       DEC
0    1208280210014111715    0.04323 -21.92087
1    1009101320014148188    0.10280  33.42861
2    1011271040014129121    0.37695   5.10657
3    1607091210014124380    0.38474  21.22680
4    1109261070014122864    0.48205   6.87665
..                   ...        ...       ...
136  1011020151234106150  357.01081 -16.52004
137  1209150071264108321  357.04332  -8.15071
138  1101151181224113126  357.06133  18.20544
139  1109230181234122987  358.02887 -18.43059
140  1209190181234125108  359.34494 -18.45311

[5540 rows x 3 columns]